*{
	margin: 0;
	padding: 0;
	outline: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

div.logo {
	width: 100px;
  margin: 0 auto; /*Se usa para centrar el contenido*/
}

div.integrantes {
	margin: 0 auto; /*Se usa para centrar el contenido*/
	background-color: red;
	width: 200px;
	margin-top: 10px;
}

div.integrantes h2 {
	margin: 0 auto; /*Se usa para centrar el contenido*/
	color: white;
	width: 200px;
	margin-bottom: 10px;
	text-align: center;
}

/**Navegación**/
.navegacion {
  background-color: red;
}
nav {
  width: 1400px;
  margin: 0 auto;
  position: relative; /*los hijos deben tener position absolute*/
}

nav ul {
  list-style: none; /*Elimina las viñetas en las listas*/
}

nav > ul > li { /*Así seleccionamos el 1er nivel de ul y li*/
float: left;
}

nav ul::after { /*forma de limpiar el nav*/
  content: '';
  display: block;
  clear: both;
}

nav ul li a { /*para los enlaces*/
  display: inline-block; /*pemite elegir un ancho*/
  width: 180px;
  color: #ffffff; /*blanco*/
  text-decoration: none; /*quita la decoración del enlace*/
  text-align: center; /*Para centrar los enlaces*/
  padding: 20px;
}

nav ul li a:hover {
  background-color: #00b8e4; /*cambia el color del enlace al pasar el puntero*/
}

/**Segundo nivel**/

nav ul ul {
  position: absolute; /*es hijo de del nav, el cual tiene position relative*/
  top: 100%;
  background-color: rgba(0, 184,228, 0.7);
  display: none;
}

nav ul li:hover > ul { /*muestra el primer hijo*/
  display: block;
}

nav ul li:hover { /*hace que al seleccionar se conserve el color */
  background-color: rgba(0, 184, 228, 0.7);
}

div.autentica {
	background-image: url('../img/logo.jpg');
	height: 100vh; /* Con 100vh la imagen toma el 100% de la ventana*/
 	background-position: top center; /*centra la imagen*/
 	background-size:cover; /*Ajusta un poco más la imagen*/
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], textarea {
    width: 97%;
    height: 25px;
    margin: 0 0 15px;
    padding: 10px 1%;
    font-size: 18px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

select [class="form-control"]{

    width: 97%;
    height: 25px;
    margin: 0 0 15px;
    padding: 10px 1%;
    font-size: 18px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

input[type="submit"], input[type="button"], input[type="reset"] {
    display: inline-block;
    background: #2394D5;
    padding: 5px 15px;
    color: #fff;
    border: 0 none;
    font-size: 18px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
	opacity: .8;
}

.main input[type="text"], .main input[type="password"] {
	text-align: center;
	border:0;
}
.main input[type="submit"] {
    width: 99%;
    margin: 0 auto;
    padding: 13px 0;
}

.main{
    width: 30%;
    background-color: rgba(134, 191, 241, 0.4);
    text-align: center;
		border-radius: 5px;
		margin: 5% auto 0 auto;
		padding: 3%;
    position: relative;
}

.error{
    background-color: #E74F4F;
    position: absolute;
    top: 0;
    padding: 10px 0 ;
    border-radius:  0 0 5px 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}
